:root {
    --spacing-1: 15px;
    --spacing-2: 30px;
    --spacing-3: 45px;

    --stats-item-width: calc((100% - var(--spacing-2)) / 2);

    --color-primary: #1200ff;
    --color-secondary: #FF00E9;

    --color-secondary-light: rgb(255, 103, 242);
    --color-primary-light: #6d62ff;
    --color-white: white;
    --color-black: black;
    --color-light: rgb(193, 193, 193);
    --color-dark: rgb(87, 87, 87);
    --color-danger: red;

    --color-success: var(--color-secondary);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    margin-bottom: 500px;

}
.search-input{
    display: flex;
    flex-direction: row;
    padding-bottom: 100px;
    justify-content: center;

}
.serch-input{
    border-radius: 50px;
    width: 30%;
}

.card-container{
    display: flex;
    flex-direction: row;
    width: 100%;

}
.table-img-container{
    width: 200px;
    height: 100%;

}
.card{
    width: 100%;

}
.manu-img-container{
    display: flex;
    flex-direction: row;
    align-content: center;

}
.column-image{
    width: 200px;
    margin: 50px;
}
 /*shriftas
 /* Beautiful vibes */

/*.text-font, .meniu-item {*/
/*    font-family: 'Beautiful Vibes', sans-serif;*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    font-size: 25px;*/
/*    line-height: 114px;*/
/*    !* identical to box height *!*/

/*    color: #000000;*/

/*}*/




p {
    font-size: 15px;
}

.container {
    max-width: 1230px;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--spacing-1);
    padding-right: var(--spacing-1);
    /*position: absolute;*/
    /*width: 540px;*/
    /*height: 316px;*/

    background: linear-gradient(180deg, rgba(206, 73, 147, 0) 20.27%, rgba(206, 73, 147, 0.2) 78.09%), linear-gradient(180deg, rgba(238, 93, 108, 0) 29.38%, rgba(238, 93, 108, 0.3) 86.74%), linear-gradient(360deg, rgba(238, 175, 97, 0) 15.76%, rgba(238, 175, 97, 0.4) 100%), linear-gradient(180deg, rgba(251, 144, 98, 0.7) 0%, rgba(149, 85, 58, 0.7) 73.99%);

}

.page-title {
    font-size: 100px;
    margin-top: 0;
    margin-bottom: 23px;
    line-height: 1.05;
}

.section-title {
    margin-top: 0;
    font-size: 172px;
}

.main-header {
    background-color: rgba(13, 131, 182, 0.77);
}

.main-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 50px;
}

.navigation-wrapper {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.menu-list {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.menu-link {
    padding: 10px;
    color: white;
    text-decoration: none;
    display: inline-block;
}
.menu-link:hover {
    opacity: .8;
}
