<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clothing</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header class="main-header">
    <div class="container">
        <div class="main-header-wrapper">
            <div class="logo-wrapper">
                <img src="DemoLogo.svg">
            </div>

            <nav class="navigation-wrapper">
                <ul class="menu-list">
                    <li class="meniu-item">
                        <a class="menu-link" href="indexdemo.html">Home</a>
                    </li>
                    <li class="meniu-item">
                        <a class="menu-link" href="clothing.html">Clothing</a>
                    </li>
                    <li class="meniu-item">
                        <a class="menu-link" href="#">Bikes</a>
                    </li>
                    <li class="meniu-item">
                        <a class="menu-link" href="#">Wheels & Tyres</a>
                    </li>
                    <li class="meniu-item">
                        <a class="menu-link" href="#">Bike parts</a>
                    </li>
                    <li class="meniu-item">
                        <a class="menu-link" href="#">Footwear</a>
                    </li>
                    <li class="meniu-item">
                        <a class="menu-link" href="#">Helmets & Protection</a>
                    </li>
                    <li class="meniu-item">
                        <a class="menu-link" href="#">Accessories</a>
                    </li>
                </ul>
                <div class="meniu-search">
                    <form id="nameSearchForm1" th:action="@{/searchdemo}" method="get"
                          class="flex-grow-1 me-2 input-group rounded">
                        <input class="form-control me-2 rounded" type="search" placeholder="Search by Name"
                               aria-label="Search" name="name">
                        <input type="hidden" name="description" th:value="${searchedDescription}">
                        <button class="btn btn-outline-success rounded" type="submit">Search</button>
                    </form>
                </div>
                <li class="menu-item">
                    <a class="menu-link" href="#">EN</a>
                </li>
                <div id="header-user-login" class="col col-auto header-btn-w header-user-btn-w">
                    <a href="#" title="Log in to your customer account">
                        <span class="title">Log in</span>
                    </a>
                </div>
            </nav>
        </div>
    </div>
</header>
<div class="filter-wrapper">
    <div class="filter-container">

        <ul class="clothing-options">
            <h2 class="container-selector">Gender</h2>
            <li class="cloth-size">
                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox24" value="1">
                <label class="form-check-label" for="usdCheckbox">Male</label>
            </li>
            <li class="cloth-size">
                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox25" value="1">
                <label class="form-check-label" for="usdCheckbox">Female</label>
            </li>
            <li class="cloth-size">
                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox26" value="1">
                <label class="form-check-label" for="usdCheckbox">Kid</label>
            </li>
        </ul>

        <ul class="clothing-options">
            <h2 class="container-selector">Size</h2>
            <div class="size-search">
                <form id="nameSearchForm2" th:action="@{/searchdemo}" method="get"
                      class="flex-grow-1 me-2 input-group rounded">
                    <input class="form-control me-2 rounded" type="search" placeholder="Search by Name"
                           aria-label="Search" name="name">
                    <input type="hidden" name="description" th:value="${searchedDescription}">
                    <button class="btn btn-outline-success rounded" type="submit">Search</button>
                </form>
            </div>
            <li class="cloth-size">
                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox" value="1">
                <label class="form-check-label" for="usdCheckbox">XXS (1)</label>
            </li>
            <li class="cloth-size">
                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox2" value="1">
                <label class="form-check-label" for="usdCheckbox">XS (5)</label>
            </li>
            <li class="cloth-size">
                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox3" value="1">
                <label class="form-check-label" for="usdCheckbox">S (1)</label>
            </li>
            <li class="cloth-size">
                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox4" value="1">
                <label class="form-check-label" for="usdCheckbox">M (101)</label>
            </li>
            <li class="cloth-size">
                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox5" value="1">
                <label class="form-check-label" for="usdCheckbox">L (52)</label>
            </li>
            <li class="cloth-size">
                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox6" value="1">
                <label class="form-check-label" for="usdCheckbox">XL (15)</label>
            </li>
            <li class="cloth-size">
                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox7" value="1">
                <label class="form-check-label" for="usdCheckbox">XXL (10)</label>
            </li>
            <li class="cloth-size">
                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox8" value="1">
                <label class="form-check-label" for="usdCheckbox">XXL (1)</label>
            </li>
        </ul>

        <ul class="clothing-options">
            <h2 class="container-selector">Color</h2>
            <div class="color-search">
                <form id="nameSearchForm3" th:action="@{/searchdemo}" method="get"
                      class="flex-grow-1 me-2 input-group rounded">
                    <input class="form-control me-2 rounded" type="search" placeholder="Search by Name"
                           aria-label="Search" name="name">
                    <input type="hidden" name="description" th:value="${searchedDescription}">
                    <button class="btn btn-outline-success rounded" type="submit">Search</button>
                </form>
            </div>
            <li class="cloth-size">
                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox9" value="1">
                <label class="form-check-label" for="usdCheckbox">Black (22)</label>
            </li>
            <li class="cloth-size">
                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox10" value="1">
                <label class="form-check-label" for="usdCheckbox">White (5)</label>
            </li>
            <li class="cloth-size">
                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox11" value="1">
                <label class="form-check-label" for="usdCheckbox">Yellow (1)</label>
            </li>
            <li class="cloth-size">
                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox12" value="1">
                <label class="form-check-label" for="usdCheckbox">Red(11)</label>
            </li>
            <li class="cloth-size">
                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox13" value="1">
                <label class="form-check-label" for="usdCheckbox">Purple (13)</label>
            </li>
            <li class="cloth-size">
                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox14" value="1">
                <label class="form-check-label" for="usdCheckbox">Pink (12)</label>
            </li>
            <li class="cloth-size">
                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox15" value="1">
                <label class="form-check-label" for="usdCheckbox">Green (1)</label>
            </li>
            <li class="cloth-size">
                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox16" value="1">
                <label class="form-check-label" for="usdCheckbox">Gray (2)</label>
            </li>
        </ul>

        <ul class="clothing-options">
            <h2 class="container-selector">Brand</h2>
            <div class="brand-search">
                <form id="nameSearchForm" th:action="@{/searchdemo}" method="get"
                      class="flex-grow-1 me-2 input-group rounded">
                    <input class="form-control me-2 rounded" type="search" placeholder="Search by Name"
                           aria-label="Search" name="name">
                    <input type="hidden" name="description" th:value="${searchedDescription}">
                    <button class="btn btn-outline-success rounded" type="submit">Search</button>
                </form>
            </div>
            <li class="cloth-size">
                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox17" value="1">
                <label class="form-check-label" for="usdCheckbox">Nike (111)</label>
            </li>
            <li class="cloth-size">
                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox18" value="1">
                <label class="form-check-label" for="usdCheckbox">Puma (52)</label>
            </li>
            <li class="cloth-size">
                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox19" value="1">
                <label class="form-check-label" for="usdCheckbox">Adidas (100)</label>
            </li>
            <li class="cloth-size">
                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox20" value="1">
                <label class="form-check-label" for="usdCheckbox">Diesel (1)</label>
            </li>
            <li class="cloth-size">
                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox21" value="1">
                <label class="form-check-label" for="usdCheckbox">Datch (2)</label>
            </li>
            <li class="cloth-size">
                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox22" value="1">
                <label class="form-check-label" for="usdCheckbox">Cross (15)</label>
            </li>
            <li class="cloth-size">
                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox23" value="1">
                <label class="form-check-label" for="usdCheckbox">Calvin Klein (15)</label>
            </li>
        </ul>
    </div>
</div>
</body>
</html>