<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Clothing</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>
<div>
    <div class="container">
        <header class="main-header row">

            <div class="main-header-wrapper">
                <div class="logo-wrapper">
                    <img src="DemoLogo.svg">
                </div>

                <nav class="navigation-wrapper">
                    <ul class="menu-list">
                        <li class="meniu-item">
                            <a class="menu-link" href="indexdemo">Home</a>
                        </li>
                        <li class="meniu-item">
                            <a class="menu-link" href="clothing">Clothing</a>
                        </li>
                        <li class="meniu-item">
                            <a class="menu-link" href="#">Bikes</a>
                        </li>
                        <li class="meniu-item">
                            <a class="menu-link" href="#">Wheels & Tyres</a>
                        </li>
                        <li class="meniu-item">
                            <a class="menu-link" href="#">Bike parts</a>
                        </li>
                        <li class="meniu-item">
                            <a class="menu-link" href="#">Footwear</a>
                        </li>
                        <li class="meniu-item">
                            <a class="menu-link" href="#">Helmets & Protection</a>
                        </li>
                        <li class="meniu-item">
                            <a class="menu-link" href="#">Accessories</a>
                        </li>
                    </ul>
                    <div class="meniu-search">
                        <form id="nameSearchForm1" th:action="@{/clothing}" method="get"
                              class="flex-grow-1 me-2 input-group rounded">
                            <input class="form-control me-2 rounded" type="search" placeholder="Search "
                                   aria-label="Search" name="name">
                            <input type="hidden" name="description" value="#">
                            <button class="btn btn-outline-success rounded" type="submit">Search</button>
                        </form>
                    </div>
                </nav>
            </div>

        </header>

        <div class="row">

            <div class="col-md-6">
                <div class="filter-wrapper">
                    <div class="filter-container">
						<script>
							function collectSelectedFilters() {
								var selectedFilters = [];
								// Get all checkboxes with the name 'filter' and check if they are checked
								var checkboxes = document.querySelectorAll('input[name="genderFilter"]:checked');
								checkboxes.forEach(function(checkbox) {
									selectedFilters.push(checkbox.value);
								});
								// Set the value of the hidden input field to the JSON string representation of the selectedFilters array
								document.getElementById('selectedGenderFilters').value = selectedFilters;
							}
						</script>
						<form th:action="@{/clothing/filter}" method="post" onsubmit="collectSelectedFilters()" th:object="${productFilterDto}">
							<li class="cloth-size">
								<input class="form-check-input" type="checkbox" name="genderFilter" value="MALE" id="male">
								<label class="form-check-label" for="male">Male</label>
							</li>
							<li class="cloth-size">
								<input class="form-check-input" type="checkbox" name="genderFilter" value="FEMALE" id="female">
								<label class="form-check-label" for="female">Female</label>
							</li>

							<!-- Hidden input field to store selected filters -->
							<input type="hidden" id="selectedGenderFilters" name="selectedGenderFilters" th:field="*{selectedGenderFilters}">
							<button type="submit">Apply Filters</button>
						</form>

                        <ul class="clothing-options">
                            <h2 class="container-selector">Size</h2>
                            <li class="cloth-size">
                                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox"
                                       value="1">
                                <label class="form-check-label" for="usdCheckbox">XXS (1)</label>
                            </li>
                            <li class="cloth-size">
                                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox3"
                                       value="1">
                                <label class="form-check-label" for="usdCheckbox">S (1)</label>
                            </li>
                            <li class="cloth-size">
                                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox4"
                                       value="1">
                                <label class="form-check-label" for="usdCheckbox">M (1)</label>
                            </li>
                            <li class="cloth-size">
                                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox5"
                                       value="1">
                                <label class="form-check-label" for="usdCheckbox">L (1)</label>
                            </li>
                            <li class="cloth-size">
                                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox6"
                                       value="1">
                                <label class="form-check-label" for="usdCheckbox">XL (1)</label>
                            </li>
                            <li class="cloth-size">
                                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox7"
                                       value="1">
                                <label class="form-check-label" for="usdCheckbox">XXL (1)</label>
                            </li>
                        </ul>

                        <ul class="clothing-options">
                            <h2 class="container-selector">Color</h2>

                            <li class="cloth-size">
                                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox9"
                                       value="1">
                                <label class="form-check-label" for="usdCheckbox">Black (1)</label>
                            </li>
                            <li class="cloth-size">
                                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox10"
                                       value="1">
                                <label class="form-check-label" for="usdCheckbox">White (1)</label>
                            </li>
                            <li class="cloth-size">
                                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox11"
                                       value="1">
                                <label class="form-check-label" for="usdCheckbox">Yellow (1)</label>
                            </li>
                            <li class="cloth-size">
                                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox12"
                                       value="1">
                                <label class="form-check-label" for="usdCheckbox">Red(1)</label>
                            </li>
                            <li class="cloth-size">
                                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox13"
                                       value="1">
                                <label class="form-check-label" for="usdCheckbox">Purple (1)</label>
                            </li>
                            <li class="cloth-size">
                                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox14"
                                       value="1">
                                <label class="form-check-label" for="usdCheckbox">Pink (1)</label>
                            </li>
                            <li class="cloth-size">
                                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox15"
                                       value="1">
                                <label class="form-check-label" for="usdCheckbox">Green (1)</label>
                            </li>
                            <li class="cloth-size">
                                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox16"
                                       value="1">
                                <label class="form-check-label" for="usdCheckbox">Gray (1)</label>
                            </li>
                            <li class="cloth-size">
                                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox1"
                                       value="1">
                                <label class="form-check-label" for="usdCheckbox">Blue (1)</label>
                            </li>
                        </ul>

                        <ul class="clothing-options">
                            <h2 class="container-selector">Brand</h2>

                            <li class="cloth-size">
                                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox17"
                                       value="1">
                                <label class="form-check-label" for="usdCheckbox">Nike (1)</label>
                            </li>
                            <li class="cloth-size">
                                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox18"
                                       value="1">
                                <label class="form-check-label" for="usdCheckbox">Puma (1)</label>
                            </li>
                            <li class="cloth-size">
                                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox19"
                                       value="1">
                                <label class="form-check-label" for="usdCheckbox">Adidas (1)</label>
                            </li>
                            <li class="cloth-size">
                                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox20"
                                       value="1">
                                <label class="form-check-label" for="usdCheckbox">Diesel (1)</label>
                            </li>
                            <li class="cloth-size">
                                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox21"
                                       value="1">
                                <label class="form-check-label" for="usdCheckbox">Datch (1)</label>
                            </li>
                            <li class="cloth-size">
                                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox22"
                                       value="1">
                                <label class="form-check-label" for="usdCheckbox">Cross (1)</label>
                            </li>
                            <li class="cloth-size">
                                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox23"
                                       value="1">
                                <label class="form-check-label" for="usdCheckbox">Calvin Klein (1)</label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex justify-content-end">
                    <table class="table table table-striped w-100">

                        <thead>
                        <tr>
                            <th scope="col">Id</th>
<!--                            <th scope="col">Brand</th>-->
<!--                            <th scope="col">Size</th>-->
<!--                            <th scope="col">Color</th>-->
<!--                            <th scope="col">Gender</th>-->
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="cloths, stat : ${clothingList}">
                            <td th:text="${stat.count}">N/A</td>
<!--                            <td th:text="${cloths.getBrand()}?: 'N/A'">N/A</td>-->
<!--                            <td th:text="${cloths.getProductSizes()}?: 'N/A'">N/A</td>-->
<!--                            <td th:text="${cloths.getColor()}?: 'N/A'">N/A</td>-->
<!--                            <td th:text="${cloths.getGender()}?: 'N/A'">N/A</td>-->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
