<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Clothing</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>
<div th:if="${clothingList == null or clothingList.isEmpty()}">Duomenu bazė tuščia</div>

<div th:unless="${clothingList == null or clothingList.isEmpty()}">
    <div class="container">
        <header class="main-header row">

            <div class="main-header-wrapper">
                <div class="logo-wrapper">
                    <img src="DemoLogo.svg">
                </div>

                <nav class="navigation-wrapper">
                    <ul class="menu-list">
                        <li class="meniu-item">
                            <a class="menu-link" href="indexdemo">Home</a>
                        </li>
                        <li class="meniu-item">
                            <a class="menu-link" href="clothing">Clothing</a>
                        </li>
                        <li class="meniu-item">
                            <a class="menu-link" href="#">Bikes</a>
                        </li>
                        <li class="meniu-item">
                            <a class="menu-link" href="#">Wheels & Tyres</a>
                        </li>
                        <li class="meniu-item">
                            <a class="menu-link" href="#">Bike parts</a>
                        </li>
                        <li class="meniu-item">
                            <a class="menu-link" href="#">Footwear</a>
                        </li>
                        <li class="meniu-item">
                            <a class="menu-link" href="#">Helmets & Protection</a>
                        </li>
                        <li class="meniu-item">
                            <a class="menu-link" href="#">Accessories</a>
                        </li>
                    </ul>
                    <div class="meniu-search">
                        <form id="nameSearchForm1" th:action="@{/clothing}" method="get"
                              class="flex-grow-1 me-2 input-group rounded">
                            <input class="form-control me-2 rounded" type="search" placeholder="Search "
                                   aria-label="Search" name="name">
                            <input type="hidden" name="description" value="#">
                            <button class="btn btn-outline-success rounded" type="submit">Search</button>
                        </form>
                    </div>
                </nav>
            </div>

        </header>

        <div class="row">

            <div class="col-md-6">
                <div class="filter-wrapper">
                    <div class="filter-container">
                        <form id="genderFilterbox" th:action="@{/clothing}" method="get">
                            <h2 class="container-selector">Gender</h2>
                            <ul class="clothing-options">

                                <li class="cloth-size">
                                    <input class="form-check-input" type="checkbox" name="gender" id="male" value="male">
                                    <label class="form-check-label" for="male">Male</label>
                                </li>
                                <li class="cloth-size">
                                    <input class="form-check-input" type="checkbox" name="gender" id="female" value="female">
                                    <label class="form-check-label" for="female">Female</label>
                                </li>
                                <li class="cloth-size">
                                    <input class="form-check-input" type="checkbox" name="gender" id="kid" value="kid">
                                    <label class="form-check-label" for="kid">Kid</label>
                                </li>
                            </ul>
                            <button type="submit" class="btn btn-primary">Filter</button>
                        </form>

                        <ul class="clothing-options">
                            <h2 class="container-selector">Size</h2>
                            <li class="cloth-size">
                                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox"
                                       value="1">
                                <label class="form-check-label" for="usdCheckbox">XXS (1)</label>
                            </li>
                            <li class="cloth-size">
                                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox2"
                                       value="1">
                                <label class="form-check-label" for="usdCheckbox">XS (5)</label>
                            </li>
                            <li class="cloth-size">
                                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox3"
                                       value="1">
                                <label class="form-check-label" for="usdCheckbox">S (1)</label>
                            </li>
                            <li class="cloth-size">
                                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox4"
                                       value="1">
                                <label class="form-check-label" for="usdCheckbox">M (101)</label>
                            </li>
                            <li class="cloth-size">
                                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox5"
                                       value="1">
                                <label class="form-check-label" for="usdCheckbox">L (52)</label>
                            </li>
                            <li class="cloth-size">
                                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox6"
                                       value="1">
                                <label class="form-check-label" for="usdCheckbox">XL (15)</label>
                            </li>
                            <li class="cloth-size">
                                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox7"
                                       value="1">
                                <label class="form-check-label" for="usdCheckbox">XXL (10)</label>
                            </li>
                            <li class="cloth-size">
                                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox8"
                                       value="1">
                                <label class="form-check-label" for="usdCheckbox">XXL (1)</label>
                            </li>
                        </ul>

                        <ul class="clothing-options">
                            <h2 class="container-selector">Color</h2>

                            <li class="cloth-size">
                                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox9"
                                       value="1">
                                <label class="form-check-label" for="usdCheckbox">Black (22)</label>
                            </li>
                            <li class="cloth-size">
                                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox10"
                                       value="1">
                                <label class="form-check-label" for="usdCheckbox">White (5)</label>
                            </li>
                            <li class="cloth-size">
                                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox11"
                                       value="1">
                                <label class="form-check-label" for="usdCheckbox">Yellow (1)</label>
                            </li>
                            <li class="cloth-size">
                                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox12"
                                       value="1">
                                <label class="form-check-label" for="usdCheckbox">Red(11)</label>
                            </li>
                            <li class="cloth-size">
                                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox13"
                                       value="1">
                                <label class="form-check-label" for="usdCheckbox">Purple (13)</label>
                            </li>
                            <li class="cloth-size">
                                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox14"
                                       value="1">
                                <label class="form-check-label" for="usdCheckbox">Pink (12)</label>
                            </li>
                            <li class="cloth-size">
                                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox15"
                                       value="1">
                                <label class="form-check-label" for="usdCheckbox">Green (1)</label>
                            </li>
                            <li class="cloth-size">
                                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox16"
                                       value="1">
                                <label class="form-check-label" for="usdCheckbox">Gray (2)</label>
                            </li>
                        </ul>

                        <ul class="clothing-options">
                            <h2 class="container-selector">Brand</h2>

                            <li class="cloth-size">
                                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox17"
                                       value="1">
                                <label class="form-check-label" for="usdCheckbox">Nike (111)</label>
                            </li>
                            <li class="cloth-size">
                                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox18"
                                       value="1">
                                <label class="form-check-label" for="usdCheckbox">Puma (52)</label>
                            </li>
                            <li class="cloth-size">
                                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox19"
                                       value="1">
                                <label class="form-check-label" for="usdCheckbox">Adidas (100)</label>
                            </li>
                            <li class="cloth-size">
                                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox20"
                                       value="1">
                                <label class="form-check-label" for="usdCheckbox">Diesel (1)</label>
                            </li>
                            <li class="cloth-size">
                                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox21"
                                       value="1">
                                <label class="form-check-label" for="usdCheckbox">Datch (2)</label>
                            </li>
                            <li class="cloth-size">
                                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox22"
                                       value="1">
                                <label class="form-check-label" for="usdCheckbox">Cross (15)</label>
                            </li>
                            <li class="cloth-size">
                                <input class="form-check-input" type="checkbox" name="currency" id="usdCheckbox23"
                                       value="1">
                                <label class="form-check-label" for="usdCheckbox">Calvin Klein (15)</label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex justify-content-end">
                    <table class="table table table-striped w-100">

                        <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Brand</th>
                            <th scope="col">Size</th>
                            <th scope="col">Color</th>
                            <th scope="col">Gender</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="cloths, stat : ${clothingList}">

                            <td th:text="${stat.count}">N/A</td>

                            <td th:text="${cloths.getBrand()}?: 'N/A'">N/A</td>
                            <td th:text="${cloths.getSize()}?: 'N/A'">N/A</td>
                            <td th:text="${cloths.getColor()}?: 'N/A'">N/A</td>
                            <td th:text="${cloths.getGender()}?: 'N/A'">N/A</td>
                                                        <!--        <td><a th:href="@{'/dbview/' + ${client.uuid != null ? client.uuid.toString() : ''} + '/delete'}">Delete</a></td>-->
                            <td><a th:if="${cloths.id != null}"
                                   th:href="@{'/clothing/' + ${cloths.id} + '/delete'}">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--- vyru products --->
    <div class="product-item-inner-hover pbot h-use-ui-lib">
        <div class="image-wrap badges pull-left">
        </div>
        <div class="image-wrap badges">
            <div class="product-item__badges product-item__badges--left">
                <div widget-attachpoint="toggleWishlistItem" rel-widget-id="_0productBlock97426192" class="product-item__badges-item wishlist ">
                </div>
            </div>
        </div>
        <a href="#" class="cover-link" gtm-t-l="{&quot;event&quot;:&quot;OWOX&quot;,&quot;eventCategory&quot;:&quot;Interactions&quot;,&quot;eventAction&quot;:&quot;open&quot;,&quot;eventLabel&quot;:&quot;Product&quot;,&quot;eventLocation&quot;:&quot;catalog / leaf&quot;}"></a>
        <div class="image-wrap" style="">
            <a class="product-image-container" href="#" data-cy="leaf-product-item" rel-widget-id="_0productBlock97426192" widget-attachpoint="imageContainer" gtm-t-l="{&quot;event&quot;:&quot;OWOX&quot;,&quot;eventCategory&quot;:&quot;Interactions&quot;,&quot;eventAction&quot;:&quot;open&quot;,&quot;eventLabel&quot;:&quot;Product&quot;,&quot;eventLocation&quot;:&quot;catalog / leaf&quot;}">
                <img class="image-list-container main-image" widget-attachpoint="mainImage" rel-widget-id="_0productBlock97426192" src="https://lt2.pigugroup.eu/colours/774/489/27/77448927/svarkas-vyrams-frappoli-c13e7_large.jpg" loading="lazy" alt="Švarkas vyrams Frappoli kaina ir informacija | Vyriški kostiumai " title="Švarkas vyrams Calvin" style="visibility: visible;">
                <img class="image-list-container secondary-image" widget-attachpoint="secondaryImage" rel-widget-id="_0productBlock97426192" src="https://lt2.pigugroup.eu/colours/774/489/27/77448927/svarkas-vyrams-frappoli-5bfc6-kaina_large.jpg" loading="lazy" alt="Švarkas vyrams Frappoli kaina ir informacija | Vyriški kostiumai " title="Švarkas vyrams Calvin " style="visibility: hidden;">
            </a>
        </div>
        <div class="product-price">
<span class="price-leasing block no-resize">
<strong>3<sup>55</sup> <small>€</small></strong> / mėn. &nbsp;
</span>
            <span class="price notranslate ">
89<sup>95</sup> <small>€</small> </span>
            <div class="product-item__unit-mrp">
            </div>
        </div>
        <div class="product-availability clearfix">
            <div class="product-block-rating-container">
                <div class="product-rating">
                    <div class="product-rating__stars">
                        <div style="width: 1em;" class="product-rating__stars-value">
                            <img class="star-img" src="https://lt2.pigugroup.eu/static/facelift/img/listing-svg/star.svg">
                        </div>
                    </div>
                    <span class="product-rating__rating">5/5</span>
                </div>
            </div><div class="h-use-ui-lib display_flex">
<span class="display_inline-flex h-label--transparent c-label--fast-delivery">
<i class="c-icon--fast-delivery"></i>
        </div> </div>
        <p class="product-name">
            <a href="#" title="Švarkas vyrams Frappoli" gtm-t-l="{&quot;event&quot;:&quot;OWOX&quot;,&quot;eventCategory&quot;:&quot;Interactions&quot;,&quot;eventAction&quot;:&quot;open&quot;,&quot;eventLabel&quot;:&quot;Product&quot;,&quot;eventLocation&quot;:&quot;catalog / leaf&quot;}">
                Jacket for men Calvin Klein </a>
        </p>
        <div class="product-options fields-description">
            <div class="product-options__item">
                Brand: <b>Calvin Klein</b>
            </div>
            <div class="product-options__item">
                Size: <b>L</b>
            </div>
        </div>
    </div>

    <div class="product-item-inner-hover pbot h-use-ui-lib">
        <div class="image-wrap badges pull-left">
        </div>
        <div class="image-wrap badges">
            <div class="product-item__badges product-item__badges--left">
                <div widget-attachpoint="toggleWishlistItem" rel-widget-id="_0productBlock97426192" class="product-item__badges-item wishlist ">
                </div>
            </div>
        </div>
        <a href="#" class="cover-link" gtm-t-l="{&quot;event&quot;:&quot;OWOX&quot;,&quot;eventCategory&quot;:&quot;Interactions&quot;,&quot;eventAction&quot;:&quot;open&quot;,&quot;eventLabel&quot;:&quot;Product&quot;,&quot;eventLocation&quot;:&quot;catalog / leaf&quot;}"></a>
        <div class="image-wrap" style="">
            <a class="product-image-container" href="#" data-cy="leaf-product-item" rel-widget-id="_0productBlock97426192" widget-attachpoint="imageContainer" gtm-t-l="{&quot;event&quot;:&quot;OWOX&quot;,&quot;eventCategory&quot;:&quot;Interactions&quot;,&quot;eventAction&quot;:&quot;open&quot;,&quot;eventLabel&quot;:&quot;Product&quot;,&quot;eventLocation&quot;:&quot;catalog / leaf&quot;}">
                <img src="https://lt2.pigugroup.eu/colours/569/316/79/56931679/komplektas-vyrams-omelt-pk7571-48221-xxl-caf3a_large.jpg" loading="lazy" alt="Komplektas vyrams Omelt PK7571-48221-XXL kaina ir informacija | Vyriški kostiumai " title="Komplektas vyrams Omelt PK7571-48221-XXL">
            </a>
        </div>
        <div class="product-price">
<span class="price-leasing block no-resize">
<strong>2<sup>99</sup> <small>€</small></strong> / mėn. &nbsp;
</span>
            <span class="price notranslate ">
29<sup>99</sup> <small>€</small> </span>
            <div class="product-item__unit-mrp">
            </div>
        </div>
        <div class="product-availability clearfix">
            <div class="product-block-rating-container">
                <div class="product-rating">
                    <div class="product-rating__stars">
                        <div style="width: 1em;" class="product-rating__stars-value">
                            <img class="star-img" src="https://lt2.pigugroup.eu/static/facelift/img/listing-svg/star.svg">
                        </div>
                    </div>
                    <span class="product-rating__rating">3/5</span>
                </div>
            </div><div class="h-use-ui-lib display_flex">
<span class="display_inline-flex h-label--transparent c-label--fast-delivery">
<i class="c-icon--fast-delivery"></i>
        </div> </div>
        <p class="product-name">
            <a href="#" title="Švarkas vyrams " gtm-t-l="{&quot;event&quot;:&quot;OWOX&quot;,&quot;eventCategory&quot;:&quot;Interactions&quot;,&quot;eventAction&quot;:&quot;open&quot;,&quot;eventLabel&quot;:&quot;Product&quot;,&quot;eventLocation&quot;:&quot;catalog / leaf&quot;}">
                Set for men Cross </a>
        </p>
        <div class="product-options fields-description">
            <div class="product-options__item">
                Brand: <b>Cross</b>
            </div>
            <div class="product-options__item">
                Size: <b>M</b>
            </div>
        </div>
    </div>

    <div class="product-item-inner-hover pbot h-use-ui-lib">
        <div class="image-wrap badges pull-left">
        </div>
        <div class="image-wrap badges">
            <div class="product-item__badges product-item__badges--left">
                <div widget-attachpoint="toggleWishlistItem" rel-widget-id="_0productBlock97426192" class="product-item__badges-item wishlist ">
                </div>
            </div>
        </div>
        <a href="#" class="cover-link" gtm-t-l="{&quot;event&quot;:&quot;OWOX&quot;,&quot;eventCategory&quot;:&quot;Interactions&quot;,&quot;eventAction&quot;:&quot;open&quot;,&quot;eventLabel&quot;:&quot;Product&quot;,&quot;eventLocation&quot;:&quot;catalog / leaf&quot;}"></a>
        <div class="image-wrap" style="">
            <a class="product-image-container" href="#" data-cy="leaf-product-item" rel-widget-id="_0productBlock97426192" widget-attachpoint="imageContainer" gtm-t-l="{&quot;event&quot;:&quot;OWOX&quot;,&quot;eventCategory&quot;:&quot;Interactions&quot;,&quot;eventAction&quot;:&quot;open&quot;,&quot;eventLabel&quot;:&quot;Product&quot;,&quot;eventLocation&quot;:&quot;catalog / leaf&quot;}">
                <img class="image-list-container main-image" widget-attachpoint="mainImage" rel-widget-id="_9productBlock78217933" src="https://lt2.pigugroup.eu/colours/642/245/63/64224563/komplektas-vyrams-lt-juodas-b61c2-kaina_large.jpg" loading="lazy" alt="Komplektas vyrams LT, juodas kaina ir informacija | Vyriški kostiumai " title="Komplektas vyrams LT, juodas">
            </a>
        </div>
        <div class="product-price">
<span class="price-leasing block no-resize">
<strong>1<sup>99</sup> <small>€</small></strong> / mėn. &nbsp;
</span>
            <span class="price notranslate ">
11<sup>99</sup> <small>€</small> </span>
            <div class="product-item__unit-mrp">
            </div>
        </div>
        <div class="product-availability clearfix">
            <div class="product-block-rating-container">
                <div class="product-rating">
                    <div class="product-rating__stars">
                        <div style="width: 1em;" class="product-rating__stars-value">
                            <img class="star-img" src="https://lt2.pigugroup.eu/static/facelift/img/listing-svg/star.svg">
                        </div>
                    </div>
                    <span class="product-rating__rating">1/5</span>
                </div>
            </div><div class="h-use-ui-lib display_flex">
<span class="display_inline-flex h-label--transparent c-label--fast-delivery">
<i class="c-icon--fast-delivery"></i>
        </div> </div>
        <p class="product-name">
            <a href="#" title="Švarkas vyrams " gtm-t-l="{&quot;event&quot;:&quot;OWOX&quot;,&quot;eventCategory&quot;:&quot;Interactions&quot;,&quot;eventAction&quot;:&quot;open&quot;,&quot;eventLabel&quot;:&quot;Product&quot;,&quot;eventLocation&quot;:&quot;catalog / leaf&quot;}">
               Sport Set for men Datch </a>
        </p>
        <div class="product-options fields-description">
            <div class="product-options__item">
                Brand: <b>Datch</b>
            </div>
            <div class="product-options__item">
                Size: <b>XL</b>
            </div>
        </div>
    </div>
<!---moteru products-->
    <div class="product-item-inner-hover pbot h-use-ui-lib">
        <div class="image-wrap badges pull-left">
        </div>
        <div class="image-wrap badges">
            <div class="product-item__badges product-item__badges--left">
                <div widget-attachpoint="toggleWishlistItem" rel-widget-id="_0productBlock97426192" class="product-item__badges-item wishlist ">
                </div>
            </div>
        </div>
        <a href="#" class="cover-link" gtm-t-l="{&quot;event&quot;:&quot;OWOX&quot;,&quot;eventCategory&quot;:&quot;Interactions&quot;,&quot;eventAction&quot;:&quot;open&quot;,&quot;eventLabel&quot;:&quot;Product&quot;,&quot;eventLocation&quot;:&quot;catalog / leaf&quot;}"></a>
        <div class="image-wrap" style="">
            <a class="product-image-container" href="#" data-cy="leaf-product-item" rel-widget-id="_0productBlock97426192" widget-attachpoint="imageContainer" gtm-t-l="{&quot;event&quot;:&quot;OWOX&quot;,&quot;eventCategory&quot;:&quot;Interactions&quot;,&quot;eventAction&quot;:&quot;open&quot;,&quot;eventLabel&quot;:&quot;Product&quot;,&quot;eventLocation&quot;:&quot;catalog / leaf&quot;}">
                <img class="image-list-container main-image" widget-attachpoint="mainImage" rel-widget-id="_10productBlock53722663" src="https://lt2.pigugroup.eu/colours/471/989/08/47198908/laisvalaikio-komplektas-moterims-winchester-292071466-smelinis-0d48a_large.jpg" loading="lazy" alt="Laisvalaikio komplektas moterims Winchester 292071466, smėlinis kaina ir informacija | Kostiumėliai moterims " title="Laisvalaikio komplektas moterims Winchester 292071466, smėlinis" style="visibility: visible;">
            </a>
        </div>
        <div class="product-price">
<span class="price-leasing block no-resize">
<strong>10<sup>99</sup> <small>€</small></strong> / mėn. &nbsp;
</span>
            <span class="price notranslate ">
99<sup>95</sup> <small>€</small> </span>
            <div class="product-item__unit-mrp">
            </div>
        </div>
        <div class="product-availability clearfix">
            <div class="product-block-rating-container">
                <div class="product-rating">
                    <div class="product-rating__stars">
                        <div style="width: 1em;" class="product-rating__stars-value">
                            <img class="star-img" src="https://lt2.pigugroup.eu/static/facelift/img/listing-svg/star.svg">
                        </div>
                    </div>
                    <span class="product-rating__rating">5/5</span>
                </div>
            </div><div class="h-use-ui-lib display_flex">
<span class="display_inline-flex h-label--transparent c-label--fast-delivery">
<i class="c-icon--fast-delivery"></i>
        </div> </div>
        <p class="product-name">
            <a href="#" title="Švarkas vyrams Frappoli" gtm-t-l="{&quot;event&quot;:&quot;OWOX&quot;,&quot;eventCategory&quot;:&quot;Interactions&quot;,&quot;eventAction&quot;:&quot;open&quot;,&quot;eventLabel&quot;:&quot;Product&quot;,&quot;eventLocation&quot;:&quot;catalog / leaf&quot;}">
                Jacket for woman Diesel </a>
        </p>
        <div class="product-options fields-description">
            <div class="product-options__item">
                Brand: <b>Diesel</b>
            </div>
            <div class="product-options__item">
                Size: <b>S</b>
            </div>
        </div>
    </div>

    <div class="product-item-inner-hover pbot h-use-ui-lib">
        <div class="image-wrap badges pull-left">
        </div>
        <div class="image-wrap badges">
            <div class="product-item__badges product-item__badges--left">
                <div widget-attachpoint="toggleWishlistItem" rel-widget-id="_0productBlock97426192" class="product-item__badges-item wishlist ">
                </div>
            </div>
        </div>
        <a href="#" class="cover-link" gtm-t-l="{&quot;event&quot;:&quot;OWOX&quot;,&quot;eventCategory&quot;:&quot;Interactions&quot;,&quot;eventAction&quot;:&quot;open&quot;,&quot;eventLabel&quot;:&quot;Product&quot;,&quot;eventLocation&quot;:&quot;catalog / leaf&quot;}"></a>
        <div class="image-wrap" style="">
            <a class="product-image-container" href="#" data-cy="leaf-product-item" rel-widget-id="_0productBlock97426192" widget-attachpoint="imageContainer" gtm-t-l="{&quot;event&quot;:&quot;OWOX&quot;,&quot;eventCategory&quot;:&quot;Interactions&quot;,&quot;eventAction&quot;:&quot;open&quot;,&quot;eventLabel&quot;:&quot;Product&quot;,&quot;eventLocation&quot;:&quot;catalog / leaf&quot;}">
                <img class="image-list-container main-image" widget-attachpoint="mainImage" rel-widget-id="_3productBlock85101696" src="https://lt2.pigugroup.eu/colours/693/582/11/69358211/laisvalaikio-komplektas-moterims-textile-contact-pilkas-bd2f4_large.jpg" loading="lazy" alt="Laisvalaikio komplektas moterims Textile-Contact, pilkas kaina ir informacija | Kostiumėliai moterims " title="Laisvalaikio komplektas moterims Textile-Contact, pilkas" style="visibility: visible;">
            </a>
        </div>
        <div class="product-price">
<span class="price-leasing block no-resize">
<strong>6<sup>99</sup> <small>€</small></strong> / mėn. &nbsp;
</span>
            <span class="price notranslate ">
49<sup>99</sup> <small>€</small> </span>
            <div class="product-item__unit-mrp">
            </div>
        </div>
        <div class="product-availability clearfix">
            <div class="product-block-rating-container">
                <div class="product-rating">
                    <div class="product-rating__stars">
                        <div style="width: 1em;" class="product-rating__stars-value">
                            <img class="star-img" src="https://lt2.pigugroup.eu/static/facelift/img/listing-svg/star.svg">
                        </div>
                    </div>
                    <span class="product-rating__rating">3/5</span>
                </div>
            </div><div class="h-use-ui-lib display_flex">
<span class="display_inline-flex h-label--transparent c-label--fast-delivery">
<i class="c-icon--fast-delivery"></i>
        </div> </div>
        <p class="product-name">
            <a href="#" title="Švarkas vyrams " gtm-t-l="{&quot;event&quot;:&quot;OWOX&quot;,&quot;eventCategory&quot;:&quot;Interactions&quot;,&quot;eventAction&quot;:&quot;open&quot;,&quot;eventLabel&quot;:&quot;Product&quot;,&quot;eventLocation&quot;:&quot;catalog / leaf&quot;}">
                Set for woman Nike </a>
        </p>
        <div class="product-options fields-description">
            <div class="product-options__item">
                Brand: <b>Nike</b>
            </div>
            <div class="product-options__item">
                Size: <b>M</b>
            </div>
        </div>
    </div>

    <div class="product-item-inner-hover pbot h-use-ui-lib">
        <div class="image-wrap badges pull-left">
        </div>
        <div class="image-wrap badges">
            <div class="product-item__badges product-item__badges--left">
                <div widget-attachpoint="toggleWishlistItem" rel-widget-id="_0productBlock97426192" class="product-item__badges-item wishlist ">
                </div>
            </div>
        </div>
        <a href="#" class="cover-link" gtm-t-l="{&quot;event&quot;:&quot;OWOX&quot;,&quot;eventCategory&quot;:&quot;Interactions&quot;,&quot;eventAction&quot;:&quot;open&quot;,&quot;eventLabel&quot;:&quot;Product&quot;,&quot;eventLocation&quot;:&quot;catalog / leaf&quot;}"></a>
        <div class="image-wrap" style="">
            <a class="product-image-container" href="#" data-cy="leaf-product-item" rel-widget-id="_0productBlock97426192" widget-attachpoint="imageContainer" gtm-t-l="{&quot;event&quot;:&quot;OWOX&quot;,&quot;eventCategory&quot;:&quot;Interactions&quot;,&quot;eventAction&quot;:&quot;open&quot;,&quot;eventLabel&quot;:&quot;Product&quot;,&quot;eventLocation&quot;:&quot;catalog / leaf&quot;}">
                <img class="image-list-container main-image" widget-attachpoint="mainImage" rel-widget-id="_0productBlock57248644" src="https://lt2.pigugroup.eu/colours/496/291/54/49629154/dalykinis-kostiumas-moterims-z-95004-z-92004-2e747_large.jpg" loading="lazy" alt="Dalykinis kostiumas moterims Z - 95004 Z - 92004 AE kaina ir informacija | Kostiumėliai moterims " title="Dalykinis kostiumas moterims Z - 95004 Z - 92004 AE" style="visibility: visible;">
            </a>
        </div>
        <div class="product-price">
<span class="price-leasing block no-resize">
<strong>5<sup>99</sup> <small>€</small></strong> / mėn. &nbsp;
</span>
            <span class="price notranslate ">
30<sup>99</sup> <small>€</small> </span>
            <div class="product-item__unit-mrp">
            </div>
        </div>
        <div class="product-availability clearfix">
            <div class="product-block-rating-container">
                <div class="product-rating">
                    <div class="product-rating__stars">
                        <div style="width: 1em;" class="product-rating__stars-value">
                            <img class="star-img" src="https://lt2.pigugroup.eu/static/facelift/img/listing-svg/star.svg">
                        </div>
                    </div>
                    <span class="product-rating__rating">4/5</span>
                </div>
            </div><div class="h-use-ui-lib display_flex">
<span class="display_inline-flex h-label--transparent c-label--fast-delivery">
<i class="c-icon--fast-delivery"></i>
        </div> </div>
        <p class="product-name">
            <a href="#" title="Švarkas vyrams " gtm-t-l="{&quot;event&quot;:&quot;OWOX&quot;,&quot;eventCategory&quot;:&quot;Interactions&quot;,&quot;eventAction&quot;:&quot;open&quot;,&quot;eventLabel&quot;:&quot;Product&quot;,&quot;eventLocation&quot;:&quot;catalog / leaf&quot;}">
                Sport Set for men Puma </a>
        </p>
        <div class="product-options fields-description">
            <div class="product-options__item">
                Brand: <b>Puma</b>
            </div>
            <div class="product-options__item">
                Size: <b>XS</b>
            </div>
        </div>
    </div>

    <!--- vaiku products -->
    <div class="product-item-inner-hover pbot h-use-ui-lib">
        <div class="image-wrap badges pull-left">
        </div>
        <div class="image-wrap badges">
            <div class="product-item__badges product-item__badges--left">
                <div widget-attachpoint="toggleWishlistItem" rel-widget-id="_0productBlock97426192" class="product-item__badges-item wishlist ">
                </div>
            </div>
        </div>
        <a href="#" class="cover-link" gtm-t-l="{&quot;event&quot;:&quot;OWOX&quot;,&quot;eventCategory&quot;:&quot;Interactions&quot;,&quot;eventAction&quot;:&quot;open&quot;,&quot;eventLabel&quot;:&quot;Product&quot;,&quot;eventLocation&quot;:&quot;catalog / leaf&quot;}"></a>
        <div class="image-wrap" style="">
            <a class="product-image-container" href="#" data-cy="leaf-product-item" rel-widget-id="_0productBlock97426192" widget-attachpoint="imageContainer" gtm-t-l="{&quot;event&quot;:&quot;OWOX&quot;,&quot;eventCategory&quot;:&quot;Interactions&quot;,&quot;eventAction&quot;:&quot;open&quot;,&quot;eventLabel&quot;:&quot;Product&quot;,&quot;eventLocation&quot;:&quot;catalog / leaf&quot;}">
                <img class="image-list-container main-image" widget-attachpoint="mainImage" rel-widget-id="_4productBlock89489911" src="https://lt2.pigugroup.eu/colours/721/438/11/72143811/nike-vaikiskas-sportinio-kostiumo-komplektas-club-flc-47217_large.jpg" loading="lazy" alt="Nike vaikiškas sportinio kostiumo komplektas CLUB FLC FZ, juodas kaina ir informacija | Komplektai berniukams " title="Nike vaikiškas sportinio kostiumo komplektas CLUB FLC FZ, juodas" style="visibility: visible;">
            </a>
        </div>
        <div class="product-price">
<span class="price-leasing block no-resize">
<strong>3<sup>55</sup> <small>€</small></strong> / mėn. &nbsp;
</span>
            <span class="price notranslate ">
89<sup>95</sup> <small>€</small> </span>
            <div class="product-item__unit-mrp">
            </div>
        </div>
        <div class="product-availability clearfix">
            <div class="product-block-rating-container">
                <div class="product-rating">
                    <div class="product-rating__stars">
                        <div style="width: 1em;" class="product-rating__stars-value">
                            <img class="star-img" src="https://lt2.pigugroup.eu/static/facelift/img/listing-svg/star.svg">
                        </div>
                    </div>
                    <span class="product-rating__rating">5/5</span>
                </div>
            </div><div class="h-use-ui-lib display_flex">
<span class="display_inline-flex h-label--transparent c-label--fast-delivery">
<i class="c-icon--fast-delivery"></i>
        </div> </div>
        <p class="product-name">
            <a href="#" title="Švarkas vyrams Frappoli" gtm-t-l="{&quot;event&quot;:&quot;OWOX&quot;,&quot;eventCategory&quot;:&quot;Interactions&quot;,&quot;eventAction&quot;:&quot;open&quot;,&quot;eventLabel&quot;:&quot;Product&quot;,&quot;eventLocation&quot;:&quot;catalog / leaf&quot;}">
                Set for boy Calvin Klein </a>
        </p>
        <div class="product-options fields-description">
            <div class="product-options__item">
                Brand: <b>Calvin Klein</b>
            </div>
            <div class="product-options__item">
                Size: <b>XS</b>
            </div>
        </div>
    </div>

    <div class="product-item-inner-hover pbot h-use-ui-lib">
        <div class="image-wrap badges pull-left">
        </div>
        <div class="image-wrap badges">
            <div class="product-item__badges product-item__badges--left">
                <div widget-attachpoint="toggleWishlistItem" rel-widget-id="_0productBlock97426192" class="product-item__badges-item wishlist ">
                </div>
            </div>
        </div>
        <a href="#" class="cover-link" gtm-t-l="{&quot;event&quot;:&quot;OWOX&quot;,&quot;eventCategory&quot;:&quot;Interactions&quot;,&quot;eventAction&quot;:&quot;open&quot;,&quot;eventLabel&quot;:&quot;Product&quot;,&quot;eventLocation&quot;:&quot;catalog / leaf&quot;}"></a>
        <div class="image-wrap" style="">
            <a class="product-image-container" href="#" data-cy="leaf-product-item" rel-widget-id="_0productBlock97426192" widget-attachpoint="imageContainer" gtm-t-l="{&quot;event&quot;:&quot;OWOX&quot;,&quot;eventCategory&quot;:&quot;Interactions&quot;,&quot;eventAction&quot;:&quot;open&quot;,&quot;eventLabel&quot;:&quot;Product&quot;,&quot;eventLocation&quot;:&quot;catalog / leaf&quot;}">
                <img class="image-list-container main-image" widget-attachpoint="mainImage" rel-widget-id="_55productBlock100067457" src="https://lt2.pigugroup.eu/colours/794/790/87/79479087/puosni-suknele-mergaitems-melyna-9c11f_large.jpg" loading="lazy" alt="Suknelė mergaitėms, mėlyna kaina ir informacija | Suknelės mergaitėms " title="Suknelė mergaitėms, mėlyna" style="visibility: visible;">
            </a>
        </div>
        <div class="product-price">
<span class="price-leasing block no-resize">
<strong>2<sup>99</sup> <small>€</small></strong> / mėn. &nbsp;
</span>
            <span class="price notranslate ">
29<sup>99</sup> <small>€</small> </span>
            <div class="product-item__unit-mrp">
            </div>
        </div>
        <div class="product-availability clearfix">
            <div class="product-block-rating-container">
                <div class="product-rating">
                    <div class="product-rating__stars">
                        <div style="width: 1em;" class="product-rating__stars-value">
                            <img class="star-img" src="https://lt2.pigugroup.eu/static/facelift/img/listing-svg/star.svg">
                        </div>
                    </div>
                    <span class="product-rating__rating">3/5</span>
                </div>
            </div><div class="h-use-ui-lib display_flex">
<span class="display_inline-flex h-label--transparent c-label--fast-delivery">
<i class="c-icon--fast-delivery"></i>
        </div> </div>
        <p class="product-name">
            <a href="#" title="Švarkas vyrams " gtm-t-l="{&quot;event&quot;:&quot;OWOX&quot;,&quot;eventCategory&quot;:&quot;Interactions&quot;,&quot;eventAction&quot;:&quot;open&quot;,&quot;eventLabel&quot;:&quot;Product&quot;,&quot;eventLocation&quot;:&quot;catalog / leaf&quot;}">
                Dress for girl Cross </a>
        </p>
        <div class="product-options fields-description">
            <div class="product-options__item">
                Brand: <b>Cross</b>
            </div>
            <div class="product-options__item">
                Size: <b>S</b>
            </div>
        </div>
    </div>

    <div class="product-item-inner-hover pbot h-use-ui-lib">
        <div class="image-wrap badges pull-left">
        </div>
        <div class="image-wrap badges">
            <div class="product-item__badges product-item__badges--left">
                <div widget-attachpoint="toggleWishlistItem" rel-widget-id="_0productBlock97426192" class="product-item__badges-item wishlist ">
                </div>
            </div>
        </div>
        <a href="#" class="cover-link" gtm-t-l="{&quot;event&quot;:&quot;OWOX&quot;,&quot;eventCategory&quot;:&quot;Interactions&quot;,&quot;eventAction&quot;:&quot;open&quot;,&quot;eventLabel&quot;:&quot;Product&quot;,&quot;eventLocation&quot;:&quot;catalog / leaf&quot;}"></a>
        <div class="image-wrap" style="">
            <a class="product-image-container" href="#" data-cy="leaf-product-item" rel-widget-id="_0productBlock97426192" widget-attachpoint="imageContainer" gtm-t-l="{&quot;event&quot;:&quot;OWOX&quot;,&quot;eventCategory&quot;:&quot;Interactions&quot;,&quot;eventAction&quot;:&quot;open&quot;,&quot;eventLabel&quot;:&quot;Product&quot;,&quot;eventLocation&quot;:&quot;catalog / leaf&quot;}">
                <img class="image-list-container main-image" widget-attachpoint="mainImage" rel-widget-id="_54productBlock69006269" src="https://lt2.pigugroup.eu/colours/574/433/29/57443329/suknele-mergaitems-gulliver-7c3eb_large.jpg" loading="lazy" alt="Suknelė mergaitėms Gulliver kaina ir informacija | Suknelės mergaitėms " title="Suknelė mergaitėms Gulliver" style="visibility: visible;">
            </a>
        </div>
        <div class="product-price">
<span class="price-leasing block no-resize">
<strong>1<sup>99</sup> <small>€</small></strong> / mėn. &nbsp;
</span>
            <span class="price notranslate ">
11<sup>99</sup> <small>€</small> </span>
            <div class="product-item__unit-mrp">
            </div>
        </div>
        <div class="product-availability clearfix">
            <div class="product-block-rating-container">
                <div class="product-rating">
                    <div class="product-rating__stars">
                        <div style="width: 1em;" class="product-rating__stars-value">
                            <img class="star-img" src="https://lt2.pigugroup.eu/static/facelift/img/listing-svg/star.svg">
                        </div>
                    </div>
                    <span class="product-rating__rating">3/5</span>
                </div>
            </div><div class="h-use-ui-lib display_flex">
<span class="display_inline-flex h-label--transparent c-label--fast-delivery">
<i class="c-icon--fast-delivery"></i>
        </div> </div>
        <p class="product-name">
            <a href="#" title="Švarkas vyrams " gtm-t-l="{&quot;event&quot;:&quot;OWOX&quot;,&quot;eventCategory&quot;:&quot;Interactions&quot;,&quot;eventAction&quot;:&quot;open&quot;,&quot;eventLabel&quot;:&quot;Product&quot;,&quot;eventLocation&quot;:&quot;catalog / leaf&quot;}">
                Dress for girl Datch </a>
        </p>
        <div class="product-options fields-description">
            <div class="product-options__item">
                Brand: <b>Datch</b>
            </div>
            <div class="product-options__item">
                Size: <b>S</b>
            </div>
        </div>
    </div>

    <nav class="d-flex justify-content-end" aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item" th:classappend="${!clothingList.hasPrevious() ? 'disabled' : ''}">
                <a class="page-link" th:href="@{/clthing(page=${clothingList.number} - 1)}">Previous</a>
            </li>
            <li th:each="pageNumber : ${#numbers.sequence(0, clothingList.totalPages - 1)}"
                th:classappend="${pageNumber == clothingList.number ? 'active' : ''}">
                <a class="page-link" th:href="@{/clothing(page=${pageNumber})}"
                   th:text="${pageNumber + 1}"></a>
            </li>
            <li class="page-item" th:classappend="${!clothingList.hasNext() ? 'disabled' : ''}">
                <a class="page-link" th:href="@{/clothing(page=${clothingList.number} + 1)}">Next</a>
            </li>

        </ul>
    </nav>
</body>
</html>